In [1]:
# импортируем библиотеки
import pandas as pd

In [2]:
from sqlalchemy import create_engine

In [3]:
db_config = {'user': 'praktikum_student', # имя пользователя
            'pwd': 'Sdf4$2;d-d30pp', # пароль
            'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
            'port': 6432, # порт подключения
            'db': 'data-analyst-zen-project-db'} # название базы данных

In [4]:
connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                                db_config['pwd'],
                                                db_config['host'],
                                                db_config['port'],
                                                db_config['db'])

In [5]:
engine = create_engine(connection_string)

In [6]:
query = ''' SELECT *
            FROM dash_visits
        '''

In [7]:
dash_visits = pd.io.sql.read_sql(query, con = engine, index_col='record_id')

In [8]:
dash_visits

          item_topic source_topic age_segment                  dt  visits
record_id
1040597       Деньги         Авто       18-25 2019-09-24 18:32:00       3
1040598       Деньги         Авто       18-25 2019-09-24 18:35:00       1
1040599       Деньги         Авто       18-25 2019-09-24 18:54:00       4
1040600       Деньги         Авто       18-25 2019-09-24 18:55:00      17
1040601       Деньги         Авто       18-25 2019-09-24 18:56:00      27
...              ...          ...         ...                 ...     ...
1071337         Юмор      Финансы       36-40 2019-09-24 18:57:00       2
1071338         Юмор      Финансы       36-40 2019-09-24 19:00:00       1
1071339         Юмор      Финансы       41-45 2019-09-24 18:54:00       1
1071340         Юмор      Финансы       41-45 2019-09-24 18:56:00       1
1071341         Юмор      Финансы       41-45 2019-09-24 19:00:00       1

[30745 rows x 5 columns]

In [9]:
dash_visits.to_csv('dash_visits.csv')

In [10]:
dash_visits.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30745 entries, 1040597 to 1071341
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   item_topic    30745 non-null  object
 1   source_topic  30745 non-null  object
 2   age_segment   30745 non-null  object
 3   dt            30745 non-null  datetime64[ns]
 4   visits        30745 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 1.4+ MB

In [11]:
dash_visits['dt'].max()

Timestamp('2019-09-24 19:00:00')

In [12]:
dash_visits['dt'].min()

Timestamp('2019-09-24 18:28:00')

In [13]:
dash_visits['visits'].sum()

310207

In [20]:
dash_visits.groupby(['item_topic','visits'])

Дашборд

https://public.tableau.com/views/dash_visits_16575578624700/Dashboard1?:language=en-US&publish=yes&:display_count=n&:origin=viz_share_link

Презентация

https://docs.google.com/presentation/d/1VImHWhnm58iNHAYuwsjEngwkQTqqgr1I/edit?usp=sharing&ouid=116816887647828010702&rtpof=true&sd=true